.header{
    border: 5px solid blueviolet;
    width:100%;
    
}

.pr{
    position: relative;
}

.im{
    left:35.5%;
}

.zag1{
    color:blueviolet;
    left:33%;
}

.fon{
    left: 23%;
    filter: brightness(40%);
}

.zag2{
    position: relative;
    text-align: center;
    bottom:50%;
    color:white;
}

.fiol{
    color:blueviolet;
}

.im1{
    position: absolute;
    left:75%;
    top:12px;
}

.tele{
    position: absolute;
    left:80%;
    top:25px;
}

.footer{
    background-color: blueviolet;
}